!bin/bash
<!DOCTYPE html>
<html>
<head>
  <title>My Homepage</title>
  <style>
    /* Add your CSS here */
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      color: #333333;
      margin: 0;
      padding: 0;
    }
    header {
      background-color: #333333;
      color: #ffffff;
      padding: 20px;
      text-align: center;
    }
    header h1 {
      margin: 0;
      font-size: 36px;
    }
    nav {
      background-color: #ffffff;
      color: #333333;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px 0;
    }
    nav a {
      color: #333333;
      text-decoration: none;
      font-size: 18px;
    }
    main {
      padding: 20px;
    }
    footer {
      background-color: #333333;
      color: #ffffff;
      padding: 20px;
      text-align: center;
    }
  </style>
</head>
<body>
  <header>
    <h1>Welcome to My Homepage</h1>
  </header>
  <nav>
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Contact</a>
  </nav>
  <main>
    <h2>About Me</h2>
    <p>Welcome to my first nodejs projecting using
      module used node js, express, bycrpt,dotenv,bodyparser,urlencoded,ejs,validator, mongodb server
    </p>
  </main>
  <footer>
    &copy;2022 My Homepage
  </footer>
  <script src="/first.js"></script>
</body>
</html>
